/********************Master page innehåll**************************************/
/*the background of the webbside*/
body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}

/*logotypen*/
#logo {
    width: 170px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/*gröna genomskinliga background*/
#content {
    background-color: rgba(118, 244, 79, 0.21);
    width: 1300px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    border: 9px solid;
    border-radius: 20px;
    border-color: rgba(54, 163, 46, 0.83);
    box-shadow: inset 0 0 0 3px rgba(54, 163, 46, 0.83), 0 2px 5px rgba(54, 163, 46, 0.83);
}

/*the navigation*/
#meny div a {
    float: left;
    width: 150px;
    padding: 3px 7px 3px 7px;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 60px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 23px;
    color: rgba(66,48,1,1);
    border-radius: 10px;
    border: 1px solid rgba(105,181,50,1);
    background: rgba(122,199,67,1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
}

#meny a:link, #meny a:visited {
    color: rgba(255,255,255,1);
    text-decoration: none;
}

/**********************defult page /Home Page ***********************************/

/*pic of the veckanslunch in defult*/
#veckanslunch img {
    margin-top: 100px;
    border-radius: 20px;
    border: solid;
    border-color: rgba(181, 135, 45, 0.85);
    border-width: 7px;
    margin: auto;
    display: block;
    width: 500px;
    height: 150px;
    margin-left: 360px;
}

/*text in the defult page*/
#text {
    float: left;
    margin-left: 250px;
    text-align: center;
    border: 4px solid rgba(54, 163, 46, 0.83);
    border-radius: 20px;
    box-shadow: inset 0 0 0 3px rgba(54, 163, 46, 0.83), 0 2px 5px rgba(54, 163, 46, 0.83);
    width: 800px;
    height: 130px;
    color: #368a2b;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 30px;
}

/*******************  Footer  ***********************************/
/*bottom text*/
footer {
    display: block;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/********************mat*************************************************/

/*Style till "våra recept" text*/
h2 {
    margin-top: 10px;
    text-align: initial;
    color: #000;
    font-size: x-large;
    margin-left: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
}


/*Style till text inne listContainer */
.listItem {
    width: 550px;
    float: left;
    min-height: 100px;
    overflow: hidden;
    margin-top: 0px;
    font-size: 23px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

    /*Style till bilder som är i listContainer*/
    .listItem img {
        width: 300px;
        margin-top: 30px;
        height: 200px;
    }

/*pagecolumn gör en vertical column till båda texter och bilder*/
.pagecolumn {
    width: 600px;
    float: left;
    padding: 0px;
    margin-top: 7px;
    margin-left: 30px;
    margin-right: 20px;
}


/**********************ReceptSidor************************************/

/****************Namn till värje mat********************************************/
h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 20px;
    float: left;
    margin-top: -40px;
}

.image {
    width: 400px;
    height: 300px;
    margin-left: 60px;
}

/*Style till ingredienser till alla receptSidor*/
.text2 {
    margin-left: 70px;
    padding: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 500px;
    float: left;
    margin-top: 40px;
}

/*Style till "Gör så här" till alla receptSidor*/
.text3 {
    text-align: left;
    font-size: large;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 900px;
    margin-top: 20px;
    margin-left: 80px;
    float: left;
}



/****************** Om Oss Page***************************************/
/*Style till om oss text*/
.text5 {
    align-self: flex-start;
    padding: 30px;
    font-size: 25px;
}

/*style till texarea*/
#aboutDescription {
    font-size: 20px;
    font-weight: normal;
    resize: none;
    overflow-y: scroll;
    margin-left: 0 auto;
    margin-top: 30px;
    margin-right: 0 auto;
    margin-bottom: 20px;
    align-items: flex-end;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/****************login button i homepage***********************/
/*Style till label och text i dafault*/
div.Logga.in a {
    margin-top: -140px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/*Style till "Logga in button" i homepage*/
.container a {
    margin-right: 30px;
    float: right;
    font-size: large;
    margin: 20px;
}

/****************Registration page start here************************/
/*format av table och border i default.aspx sidan*/
table {
    width: 625px;
    height: 423px;
    float: left;
    margin: 0 auto;
    border: solid;
    border-width: 10px;
    background-color: rgba(122,199,67,1);
    border-color: #bcfbad;
    border-radius: 20px;
    border-spacing: 10px;
    margin-top: 70px;
    margin-left: 331px;
}

/*class for username and password label*/
.userpasslabel {
    color: rgba(255,255,255,1);
    text-align: left;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/*class for username and password textbox*/
.userpasstxtbox {
    margin-left: 1px;
}

/*Style till Sign in button*/
.signinbttn {
    width: 100px;
    position: absolute;
    height: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    margin-left: 180px;
}

.lblMsg {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    color: rgba(255,255,255,1);
    margin-left: 10px;
    float: left;
}


/***************Ipad anpassad*************************/
@media screen and (max-width: 768px) {
    #content {
        width: 702px;
    }

    #logo {
        width: 170px;
        height: 160px;
    }

    #meny div a {
        width: 95%;
        margin: 8px;
        margin-top: 15px;
        margin-bottom: 1px;
        margin-left: 10px;
        font-size: 20px;
    }
    /*Style till label och text i dafault*/
    div.Logga.in a {
        margin-top: -303px;
    }
    /*text in the default page*/
    #text {
        float: left;
        margin-left: 67px;
        width: 553px;
        height: 169px;
        font-size: 34px;
    }
    /*pic of the veckanslunch in defult*/
    #veckanslunch img {
        margin-left: 93px;
    }

    table {
        margin-left: 37px;
    }

    h2 {
        margin-left: 50px;
        margin-top: 30px;
    }
    /*värje namn av mat*/
    .listItem {
        width: 300px;
        font-size: 18px;
        margin-top: 0 auto;
        float: right;
    }
        /*Värje bilder till mat*/
        .listItem img {
            width: 150px;
            height: 110px;
            margin-left: 10px;
            margin-top: 10px;
        }
    /*pagecolumn style som jag har för två column i mat sida*/
    .pagecolumn {
        height: 300px;
        margin-top: 0auto;
        margin-left: 10px;
    }
    /*style till Reseptsidor bild*/
    div.image {
        width: 80px;
        height: 50px;
        float: left;
    }

    /*style till Ingredenser text i ReseptSidor- på gång*/
    .text2 {
        width: 400px;
    /*style till Ingredenser text i ReseptSidor*/
    div.text2 
        
        {
        width: 220px;                             /**********bestäm var ska de här finnas det är fel !!!!***************/
        height: 300px;
        font-size: 13px;
        font-family: "Comic Sans MS", cursive, sans-serif;
        margin-top: -30px;
        margin-left: 350px;
    }
    /*style till Går så här i Reseptsidor - på gång*/
    .text3 {
    /*style till Går så här i Reseptsidor*/
    div.text3 {
        font-size: 16px;
        width: 620px;
        margin-left: 30px;
        margin-top: -20px;
    }
    /*style till Värje namn av mat i Reseptsidor */
    h3 {
        margin-left: 0px;
        font-size: large;
        margin-top: 20px;
        width: 400px;
        height: 100px;
    }
}

/**************Mobil anpassad****************/
@media screen and (max-width: 414px) {
    #content {
        width: 355px;
        border: 6px solid;
        border-color: rgba(54, 163, 46, 0.83);
        box-shadow: 0 1px 2px rgba(54, 163, 46, 0.83);
    }

    #logo {
        width: 150px;
        height: 140px;
    }

    #meny div a {
        width: 90%;
        margin: 8px;
        margin-top: 15px;
        margin-bottom: 1px;
        margin-left: 10px;
        font-size: 20px;
    }

    div.Logga.in a {
        margin-top: -297px;
    }

    /*text in the defult page*/
    #text {
        float: left;
        margin-left: 10px;
        width: 332px;
        height: 169px;
        font-size: 27px;
    }

    /*pic of the veckanslunch in defult*/
    #veckanslunch img {
        width: 253px;
        height: 150px;
        margin-left: 41px;
    }
    /*Våra Recept text style*/
    h2 {
        margin-left: 100px;
        margin-top: 30px;
        font-size: large;
    }
    /*värje namn av mat*/
    .listItem {
        width: 150px;
        font-size: 13px;
        float: left;
        margin-top: 20px;
    }
        /*Värje bilder till mat*/
        .listItem img {
            width: 100px;
            height: 90px;
            margin-top: 10px;
            float: right;
        }
    /*pagecolumn style som jag har för två column i mat sida*/
    .pagecolumn {
        height: 300px;
        width: 300px;
        float: left;
    }
}
