/********************Master page innehåll**************************************/
/*the background of the webbside*/
body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;

}

/*logotypen*/
#logo {
    width: 170px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

    #logo img {
    border: 5px solid rgba(54, 163, 46, 0.83); 
    border-radius: 20px; 
        width: 140px;
}

/*gröna genomskinliga background*/
#content {
    background-color: rgba(118, 244, 79, 0.21);
    width: 1300px;
    min-height: 1400px;
    margin: 0 auto;
    border: 9px solid;
    border-radius: 20px;
    border-color: rgba(54, 163, 46, 0.83);
    box-shadow: inset 0 0 0 3px rgba(54, 163, 46, 0.83), 0 2px 5px rgba(54, 163, 46, 0.83);
}

/*the navigation*/
#meny div a {
    float: left;
    width: 157px;
    padding: 3px 7px 3px 7px;
    margin:15px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 0 auto;
    margin-right:0 auto;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 23px;
    color: rgba(66,48,1,1);
    border-radius: 10px;
    border: 1px solid rgba(105,181,50,1);
    background: rgba(122,199,67,1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
    text-transform: uppercase;
}

#loggain{
    background-color:#760969;
}
#meny a:link, #meny a:visited {
    color: rgba(255,255,255,1);
    text-decoration: none;
}

#meny a:hover{
    background:#ffffff;
    color:#7ac743;
    border: 1px solid #ffffff;
}


/**********************defult page /Home Page ***********************************/

/*pic of the veckanslunch in defult*/
#veckanslunch img {
    border-radius: 20px;
    border: solid;
    border-color: #647357;
    border-width: 7px;
    margin: 50px;
    display: block;
    width: 500px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

/*text in the defult page*/
#text p {
    float: left;
    text-align: center;
    border: 4px solid rgba(54, 163, 46, 0.83);
    border-radius: 20px;
    box-shadow: inset 0 0 0 3px rgba(54, 163, 46, 0.83), 0 2px 5px rgba(54, 163, 46, 0.83);
    width: 800px;
    height: 130px;
    color: #ffffff;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 20px;
    margin-top: 20px;
    margin-left: 250px;
}

/**********All Articles************/

.articelContainer {
    width: 1100px;
    height: 450px;
    margin: 50px;
    border: solid 4px #760969;
    border-radius: 20px;
    margin-left: 95px;
}

    .articelContainer h1 {
        color: #760969;
        font-family: cursive;
        font-size: 30px;
        text-align: left;
        text-decoration: underline;
}

    .articelContainer img {
        float: left;
        width: 300px;
        height: 300px;
        margin-right: 15px;
        margin-top: 25px;
        border: solid 2px #760969;
        border-radius: 20px;
}

    .articelContainer p {
        color: #760969;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 30px;
        text-align: justify;
        width: 1000px;
}

#article1 {
    float: left;
    text-align: center;
    margin-left: 50px;
}

#article2 {
    float: left;
    text-align: center;
    margin-left: 50px;
}

#article3 {
    float: left;
    text-align: center;
    margin-left: 50px;
}

#article4 {
    float: left;
    text-align: center;
    margin-left: 50px;
}

#next {
    width: 84px;
    height: 44px;
    font-size: 25px;
    color: rgba(66,48,1,1);
    border-radius: 10px;
    border: 1px solid #760969;
    background: #760969;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #ffffff;
    margin: 10px;
    cursor: pointer;
}
#next:hover{
    background-color:#a340bc;
}


#prev {
    width: 153px;
    height: 44px;
    font-size: 25px;
    color: #760969;
    border-radius: 10px;
    border: 1px solid #760969;
    background: #760969;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #ffffff;
    cursor: pointer;
}
#prev:hover{
    background-color:#a340bc;
}
/*******************  Footer  ***********************************/
/*bottom text*/
footer {
    display: block;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/********************mat*************************************************/

/*Style till "våra recept" text*/
h2 {
    margin-top: 70px;
    text-align: initial;
    color: #000;
    font-size: x-large;
    margin-left: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
}


/*Style till text inne listContainer */
.listItem {
    width: 550px;
    float: left;
    min-height: 100px;
    overflow: hidden;
    margin-top: 0px;
    font-size: 23px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

    /*Style till bilder som är i listContainer*/
    .listItem img {
        width: 300px;
        margin-top: 30px;
        height: 200px;
    }

.hover {
    outline-style: double;
    outline-color: yellow;
    outline-width: thick;
}

/*pagecolumn gör en vertical column till båda texter och bilder*/
.pagecolumn {
    width: 600px;
    float: left;
    padding: 0px;
    margin-top: 7px;
    margin-left: 30px;
    margin-right: 20px;
}


/****************Namn till värje mat i mat sidan**************/
.text1 {
    margin-left: 0px;
    padding: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 500px;
    float: left;
    margin-top: 40px;
}
/****Namn till varje mat i alla reseptsidor (mat)**********/
h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 20px;
    float: left;
    margin-top: -40px;
}
/****style till varje image i reseptsidor (mat) ****/
div.image {
    width: 400px;
    height: 300px;
    margin-left: 60px;
}

/*Style till ingredienser till alla receptSidor (mat) */
.text2 {
    margin-left: 50px;
    padding: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 500px;
    float: left;
    margin-top: 0px;
}
    /*style till första linje av ingredienser till varje reseptsidor (mat) */
    .text2 p {
        text-decoration: underline;
        margin-left: 40px;
    }
    /*style till list av ingredienser i varje reseptsidor (mat)*/
    .text2 ul {
        list-style-position: inside;
    }
/*style till text under gör så här i varje reseptsidor (mat) */
#text3 {
    text-align: left;
    display: none;
    line-height: 2.5;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 1082px;
}

/*Style till "Gör så här" till alla receptSidor (mat)*/
#btn-jquery {
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 150px;
    margin-left: 80px;
    margin-top: 0px;
    float: left;
    background-color: rgba(105,181,50,1);
    border-radius: 10px;
    border: solid;
    border-color: rgba(105,181,50,1);
}

/****************** Om Oss Page***************************************/
/*Style till om oss text*/
#omossCont{
    width:1200px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    margin-top:150px;
}

#omossRubrik{
    font-size:50px;
    color:#FF8000;
    background-color:#F5D0A9;
    border-radius: 10px;
    border: 1px solid #FF8000;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
}

#omossPargraf{
    font-size:35px;
    color:#3B240B;
    color:#ff8000;
    background-color:rgba(245, 208, 169, 0.35);
    border-radius: 10px;
}

#chefImg{
    width:200px;
    height:300px;
    margin-right:40px;
    float:right;
    border-radius: 10px;
    border: 4px solid #FF8000;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
}



/****************Login page start here************************/
#loginContainer {
    width: 478px;
    height: 200px;
    border: 3px solid;
    border-radius: 20px;
    border-color: rgba(54, 163, 46, 0.83);
    box-shadow: inset 0 0 0 3px rgba(54, 163, 46, 0.83), 0 2px 5px rgba(54, 163, 46, 0.83);
    margin: 0 auto;
    margin-top: 250px;
}
/*******Användernamn****************/
#logincont {
    width: 450px;
    height: 100px;
    margin: 0 auto;
}

#labelNamePass {
    width: 177px;
    height: 84px;
    float: left;
    text-align: right;
    margin: 20px;
}

.labelNamn {
   color: #ffffff;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.labelPass {
    color: #ffffff;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
/******Lösenord***********/
#BoxNamePass {
    width: 193px;
    margin: 20px;
    float: right;
}

.nameBox {
    margin-bottom: 10px;
    width: 200px;
    height: 25px;
}

.passBox {
    width: 200px;
    height: 25px;
}

.ButtonLogin {
    margin-right: 25px;
    float: right;
    width: 120px;
    height: 44px;
    font-size: 25px;
    color: rgba(66,48,1,1);
    border-radius: 10px;
    border: 1px solid rgba(122,199,67,1);
    background: rgba(122,199,67,1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #ffffff;
    cursor: pointer;
}
    
.lblmsg {
    float: left;
    color: #ffffff;
    font-size: 20px;
    font-family: cursive;
}

.welcomMsg {
    float: right;
    text-align: center;
    color: coral;
}

.successMsg {
    color: aliceblue;
}

/********Leave A Comment in ReceptPgaes*************/
#labelLeaveCom {
    float: left;
    color: rgba(66,48,1,1);
    font-size: 57px;
    font-family: cursive;
    margin-top:40px;
}

#Button1 {
    float: right;
    width: 100px;
    height: 40px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 23px;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgba(105,181,50,1);
    background: rgba(122,199,67,1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
    cursor: pointer;
    margin: 5px;
}

    #Button1:hover {
        background: #04B404;
}

#TextArea1 {
    width: 450px;
    height: 122px;
    float: left;
    font-family: cursive;
    font-size: 20px;
    color: #22c81b;
    border-radius: 10px;
    border: 1px solid rgba(105,181,50,1);
}

#TxtBoxName {
    float: left;
    width: 100px;
    color: #000;
    font-family: cursive;
    font-size: 12px;
    margin: 5px;
}

.commentstyle {
    float: left;
    position: relative;
    background-color: #F6E3CE;
    width: 450px;
    height: 53px;
    font-family: cursive;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(105,181,50,1);
    text-align: left;
}

#container {
    width: 450px;
    height: 400px;
    margin-left: 20px;
}

.dropdown {
    display: none;
}

#angleDown {
    width: 10px;
    float: right;
    margin-top: 5px;
}

#angleUp {
    width: 10px;
    float: right;
    margin-top: 5px;
}

.hidden {
    display: none;
}

/**********************Veckanslunch page styling begins here!************************************/


.tableContainer {
    
    
    margin-top:250px;
    margin-left:10px;   
    margin-right:10px;

  }

.column {
    float:left;
    width:180px;
    height:600px;
    border: 0px solid black;
     

    
}

.tableContainer img {
      
      margin-left:25px;
     
     float: left;
     width:75%;     
 }

.tableContainer h1{
    background-color: darkgrey;
    height: 80px;
    margin-left: 2px;
    width: auto;
    border:3px solid #73AD21;
    padding: 10px;
}

#weekNum h1 {
    margin-top: 100px;
    margin-bottom:-15px;
    background-color: peru;
   
    line-height: 80px;
    font-family: 'Agency FB';
    font-size: 50px;
    font-stretch: extra-expanded;
    font-weight: bolder;
    color: white;
    width:97%

    
}

p.lunch {
    font-family: 'Matura MT Script Capitals';
    font-size: 25px; 
} 

p.rec {
    font-family: 'Comic Sans MS';
    font-size: medium;
    font-style: italic;
}
/***************Ipad anpassad*************************/
@media screen and (max-width: 768px) {

    #content {
        width: 700px;
    }

    #logo img {
        width: 170px;
        height: 160px;
        margin-left: auto;
        margin-right:auto;
        
    }

    #meny div a {
        width: 95%;
        margin: 8px;
        margin-top: 15px;
        margin-bottom: 1px;
        margin-left: 10px;
        font-size: 20px;
    }


    /*Style till label och text i dafault*/
    div.Logga.in a {
        margin-top: -303px;
    }
    /*text in the default page*/
    #text p {
        float: left;
        margin-left: 67px;
        width: 553px;
        height: 169px;
        font-size: 34px;
    }
    /*pic of the veckanslunch in default*/
    #veckanslunch img {
        margin-left: 93px;
    }

    /****************** Om Oss Page***************************************/
    /*Style till om oss text*/
    #omossCont{
    width:673px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    margin-top:350px;
    }

    #omossRubrik {
        font-size: 40px;
        width:673px;
        height:45px;
    }

    #omossPargraf{
    font-size:30px;
    }

    #chefImg{
    display:none;
    }

    /**********All Articles in homepage************/

.articelContainer{
    width:600px;
    height:550px;
    margin:50px;
    margin-top:780px;
    text-align:center;
}
.articelContainer h1{
    font-size:20px;
    width:550px;
    
}
.articelContainer img{
    width:250px;
    height:250px;
    margin:0 auto;
    margin-top:0px;
    float:none;
}
.articelContainer p{
    font-size:20px;
    width:500px;
}

#article1{
    float:left;
    text-align:center;
    margin-left:50px;
}
#article2{
    float:left;
    text-align:center;
    margin-left:50px;
}
#article3{
    float:left;
    text-align:center;
    margin-left:50px;
}
#article4{
    float:left;
    text-align:center;
    margin-left:50px;
}

#next{
    width: 70px;
    height: 40px;
    font-size: 20px;
}

#prev{
    width: 130px;
    height: 40px;
    font-size: 20px;
}


    /*********************************************/
    table {
        margin-left: 37px;
    }

    .text1 {
        margin-left: 70px;
        padding: 20px;
        font-family: "Comic Sans MS", cursive, sans-serif;
        width: 500px;
        float: left;
        margin-top: 40px;
        height: 0px;
    }

    h2 {
        margin-left: 250px;
        margin-top: 30px;
    }
    /*värje namn av mat*/
    .listItem {
        width: 300px;
        font-size: 18px;
        margin-top: 0 auto;
        float: right;
    }
        /*Värje bilder till mat*/
        .listItem img {
            width: 150px;
            height: 110px;
            margin-left: 10px;
            margin-top: 10px;
        }
    /*pagecolumn style som jag har för två column i mat sida*/
    .pagecolumn {
        height: 300px;
        margin-top: 0auto;
        margin-left: 10px;
    }
    /*style till Reseptsidor bild*/
    img {
        border-radius: 20px;
        width: 300px;
        margin-left: -120px;
        margin-top: -20px;
        float: left;
    }

    /*style till Ingredenser text i ReseptSidor- på gång*/
    div.text2 {
        width: 220px;
        height: 300px;
        font-size: 13px;
        font-family: "Comic Sans MS", cursive, sans-serif;
        margin-top: -30px;
        margin-left: 350px;
    }
    /*style till Går så här i Reseptsidor - på gång*/
    div.text3 {
        font-size: 16px;
        width: 620px;
        margin-left: 30px;
        margin-top: -20px;
    }
    /*style till Värje namn av mat i Reseptsidor */
    h3 {
        font-size: large;
        width: 600px;
        height: 100px;
        margin-left: -23px;
    }

    /*style till texarea*/
    #aboutDescription {
        width: 600px;
        font-size: large;
        margin-top: 40px;
    }

    div.bild7 {
        margin-left: 250px;
        width: 150px;
        margin-top: 30px;
    }

        div.bild7 img {
            width: 350px;
        }

   
    .text2 p {
        font-size: 15px;
    }

    #btn-jquery {
        width: 150px;
        margin-left: 40px;
        margin-top: 60px;
    }
        
    #text3 {
        display: none;
        line-height: 2.5;
        margin-left: 0px;
        width: 700px;
        margin-top: 0px;
}

}

/**************Mobil anpassad****************/
@media screen and (max-width: 414px) {
    #content {
        width: 355px;
        border: 6px solid;
        border-color: rgba(54, 163, 46, 0.83);
        box-shadow: 0 1px 2px rgba(54, 163, 46, 0.83);
        margin-top:40px;
    }

    #logo {
        width: 150px;
        height: 140px;
    }

    #meny div a {
        width: 90%;
        margin: 8px;
        margin-top: 1px;
        margin-bottom: 1px;
        margin-left: 10px;
        font-size: 20px;
    }


    div.Logga.in a {
        margin-top: 10px;
        margin-bottom: 0px;
        float: left;
        margin-left: 150px;
    }

    /*text in the defult page*/
   #text p{
    width: 340px;
    height:126px;
    font-size: 22px;
    margin-left:4px;
    }

    /*pic of the veckanslunch in defult*/
    #veckanslunch img {
        width: 253px;
        height: 150px;
        margin-left: 41px;
    }

    /*******Article in homepage**************/
.articelContainer{
    width:300px;
    height:650px;
    margin:0 auto;
    margin-top:450px;
}
.articelContainer h1{
    font-size:20px;
    width:295px;
}
.articelContainer img{
    float:left;
    width:245px;
    height:245px;
    margin:0 auto;
    margin-top:10px;
    margin-left:15px;
}
.articelContainer p{
    float:left;
    font-size:18px;
    width:285px;
    margin:0 auto;
}

#article1{
    margin-left:10px;
}
#article2{
    margin-left:10px;
}
#article3{
    margin-left:10px;
}
#article4{
    margin-left:10px;
}

    #next {
    width: 84px;
    height: 44px;
    font-size: 25px;
    color: rgba(66,48,1,1);
    border-radius: 10px;
    border: 1px solid #760969;
    background: #760969;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
    font-family: "Comic Sans MS", cursive, sans-serif;
        color: #ffffff;
        margin: 10px;
        cursor: pointer;
}

        #next:hover {
            background-color: #a340bc;
            text-decoration: underline;
}


    #prev {
    width: 153px;
    height: 44px;
    font-size: 25px;
    color: #760969;
    border-radius: 10px;
    border: 1px solid #760969;
    background: #760969;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
    font-family: "Comic Sans MS", cursive, sans-serif;
        color: #ffffff;
        cursor: pointer;
}

        #prev:hover {
            background-color: #a340bc;
            text-decoration: underline;
}

/****************Leave A Comment in ReceptPgaes***************************/
#labelLeaveCom{
    font-size: 35px;
    float:left;
}

#Button1 {
    float: right;
    width: 100px;
    height: 40px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 23px;
    color:#ffffff;
    border-radius: 10px;
    border: 1px solid rgba(105,181,50,1);
    background: rgba(122,199,67,1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
    cursor:pointer;
    margin:5px;
}
#Button1:hover{
     background:#04B404;
}

#TextArea1 {
    width: 330px;
}

#TxtBoxName{
    float:left;
    width:100px;
    margin:0px;
}

.commentstyle {
    float: left;
    position: relative;
    background-color: #F6E3CE;
    width: 450px;
    height: 53px;
    font-family: cursive;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(105,181,50,1);
    text-align: left;
}

#container {
    width:450px;
    height:400px;
    margin-left:10px;
    text-align:left;
}

#TextAreaComment{
    width:330px;
}

    /****************** Om Oss Page***************************************/
    /*Style till om oss text*/
    #omossCont{
    width:330px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    }

    #omossRubrik {
        font-size: 30px;
        width:330px;
        height:35px;
}

    #omossPargraf{
    font-size:20px;
    
}

    #chefImg{
    display:none;

    }

/****************************************************************************/
    /*Våra Recept text style*/
    h2 {
        margin-left: 100px;
        font-size: large;
    }
    /*värje namn av mat*/
    .listItem {
        width: 150px;
        font-size: 15px;
        float: left;
        margin-top: 0px;
    }
        /*Värje bilder till mat*/
        .listItem img {
            width: 100px;
            height: 90px;
            margin-top: 10px;
            float: right;
        }

    #image1 {
        width: 250px;
        position: absolute;
    }
    /*pagecolumn style som jag har för två column i mat sida*/
    .pagecolumn {
        height: 250px;
        width: 300px;
        float: left;
        margin-top: 30px;
    }
    /*style till Reseptsidor bild*/
    img {
        border-radius: 20px;
        width: 130px;
        margin-top: 0px;
        float: left;
    }

    div.image {
        float: left;
        margin-left: 20px;
        width: 130px;
        height: 97px;
    }

    /*style till Ingredenser text i ReseptSidor- på gång*/
    div.text2 {
        float: right;
        margin-top: initial;
        font-size: 15px;
        font-family: "Comic Sans MS", cursive, sans-serif;
        margin-top: 190px;
        margin-right: 65px;
    }
    /*style till Går så här i Reseptsidor - på gång*/
    div.text3 {
        font-size: 12px;
        width: 330px;
        margin-left: 20px;
        margin-top: -40px;
    }
    /*style till Värje namn av mat i Reseptsidor */
    h3 {
        font-size: medium;
        width: 300px;
        margin-left: -50px;
        height: 70px;
    }
    /*text i om oss sidan*/
    div.text1 {
        width: 246px;
    }
    /*texarea i om oss sidan*/
    #aboutDescription {
        width: 300px;
        font-size: medium;
    }
    /*image i om oss wibsidan*/
    div.bild7 img {
        width: 300px;
        margin-left: -250px;
    }
    /*button "gör så här" i alla reseptsidor (mat)*/
    #btn-jquery {
        width: 180px;
        margin-left: 100px;
        margin-top: 140px;
}
    /*text under går så här i alla reseptsidor (mat)*/
    #text3 {
        display: none;
        line-height: 1.5;
        margin-left: 0px;
        width: 350px;
        margin-top: 0px;
    }
    /*****jquery dropdown menu**********/
    .dropdown {
        display: block;
    }

    #dropdownMenu1 {
        width: 340px;
        background-color: rgba(54, 163, 46, 0.83);
        text-decoration: none;
        border-radius: 10px;
        height: 40px;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: large;
        color: #fff;
    }

    #meny {
        display: none;
    }

    /**********************Veckanslunch page styling begins here!************************************/


.tableContainer {
    margin-top:90px;
    margin-left:auto;   
    margin-right:auto;
    width:339px;
  }

.column {
    float: left;
    width: 329px;
    height: 240px;
    border: 1px solid black;
    margin-left: 10px;
}

#monImg,#tueImg,#wenImg,#thuImg,#friImg,#satImg,#sunImg {
     float: left;
     width:100px;
     height:100px;
 }
#mon, #tue, #wen, #thu, #fri, #sat, #sun {
    background-color: darkgrey;
    padding-bottom: 0px;
    padding-top:0px;
    height:60px;
    width:60px;
}

#weekNum h1 {
    margin-top: 100px;
    background-color: darkgrey;
    line-height: 80px;
    font-family: 'Agency FB';
    font-size: 50px;
    font-stretch: extra-expanded;
    font-weight: bolder;
    color: white;

    
}

p.lunch {
    font-family: 'Matura MT Script Capitals';
    font-size: 10px; 
} 

p.rec {
    font-family: 'Comic Sans MS';
    font-size: 10PX;
    font-style: italic;
}
    
}




